{% extends "base.html" %}

{% block html_title %}Что Нового{% endblock %}

{% block title %}Мои эволюции{% endblock %}

{% block content %}
<section class="changelog">
<dl>
    {% for item in changes %}
        <dt><a name="v{{ item.version }}">Версия {{ item.version }}</a><span>{{ item.date }}</span></dt>
        <dd>
            <ul>
            {% for line in item.lines %}
                <li class="{{ line.cls }}">{{ line }}</li>
            {% endfor %}
            </ul>
        </dd>
    {% endfor %}
</dl>
</section>
{% endblock %}


