{% extends "base.html" %}

{% block html_title %}Что Нового{% endblock %}

{% block title %}Мои эволюции{% endblock %}

{% block content %}
<section class="changelog">
<dl>
    <dt><a name="v0.1.2">Версия 0.1.2</a><span>10 сентября 2010</span></dt>
    <dd>
        <ul>
            <li class="cool">Теперь меня можно включать и выключать командами «вкл» и «выкл», а еще, у меня появилась команда «статус».</li>

            <li class="fix">Переделан механизм запроса френдленты. Теперь посты получают двузначные порядковые номера, которые проще набирать с клавиатуры.</li>
        </ul>
    </dd>
    <dt><a name="v0.1.1">Версия 0.1.1</a><span>6 сентября 2010</span></dt>
    <dd>
        <ul>
            <li>Собираю общую статистику, чтобы потом показывать графики.</li>

            <li class="cool">Я теперь по-другому отображаю идентификаторы постов. По моему, стало удобнее, да?</li>
            <li class="cool">Умею по твоей команде писать в ярушку текстовые записи и постить ссылки.</li>

            <li class="fix">Исправлена обработка ошибок, теперь, если не могу обработать какой-то пост сразу, то буду пробовать позже.</li>
            <li class="fix">Теперь я корректно вырезаю HTML теги, так что даже пользователи QIP могут мной пользоваться!</li>

            <li>И еще, отныне, я вывожу предупреждения о том, что введенная команда не найдена.</li>
            <li>Так же, у меня теперь есть команда для рассылки анонсов, но она доступна только админам.</li>

             <li>Ну и наконец, у меня поменялся механизм запросов к ярушке. Теперь я смогу обслуживать больше пользователей, и при этом не буду досить Ярушечку сотней одновременных запросов.</li>
        </ul>
    </dd>
    <dt><a name="v0.1.0">Версия 0.1.0</a><span>2 сентября 2010</span></dt>
    <dd>
        <ul>
            <li>Принимаю регистрацию от всех желающих.</li>
            <li>Умею читать ярушку и уведомлять о новых постах.</li>
            <li>По команде, оставляю комментарии на посты.</li>
        </ul>
    </dd>
</dl>
</section>
{% endblock %}


