{% extends "base.html" %}

{% block site_name %}Я Джинн Ярушки!{% endblock %}

{% block html_title %}Главная страница{% endblock %}

{% block title %}Кто я такой?{% endblock %}

{% block content %}
<section class="requirements">
<p>
Все очень просто. Если ты оказался здесь, значит у тебя почти наверняка
есть аккаунт на <a href="http://wow.ya.ru">Ярушке</a> — блоговой платформе Яндекса.
Если же нет, то заведи его скорей!
</p>

<p>
Второе заключение, которое я могу сделать — у тебя есть Jabber клиент. Если нет,
очень жаль, ведь он тебе понадобится, чтобы воспользоваться моими услугами.
Установи какой-нибудь, например, <a href="http://online.yandex.ru">Яндекс.Онлайн</a>.
</p>
</section>

<section class="install">
<header><h1>Ближе к делу</h1></header>
<p>
Итак, если у тебя уже есть ярушечка, и джаббер-клиент,
добавь меня (<a href="xmpp:///yaru-bot@ya.ru">yaru-bot@ya.ru</a>) в
свой контакт лист. Я пришлю тебе ссылку. Кликни по ней, и разреши мне читать за тебя
ярушчку и писать в нее.
</p>
<p>
Вот и вся настройка!
</p>
<p>После этого, я буду присылать тебе уведомления о постах твоих друзей
как только они что-нибудь напишут. <em>Это быстро, чертовски быстро! И гораздо удобнее чем
периодическая перезагрузка френдленты.</em>
</p>
<p>Будут вопросы, пришли мне слово «help», «помощь» или «справка».</p>
</section>

<section class="remove">
<header><h1>Если надоело</h1></header>
<p>
Если тебе надоели мои уведомления, то отпусти меня на волю. Для этого, открой страницу
управления <a href="https://oauth.yandex.ru/list_tokens">доступами внешних приложений</a>
и нажми кнопку «Запретить» напротив Jabber Bot.
</p>
<p>
Надеюсь, ты еще вернешся, хозяин. Мне было хорошо с тобой :)
</p>
</section>
{% endblock %}
